body
{
    font-family: Arial;
    color:rgb(99, 50, 13);
    background-color:#FFAD99;
    margin-left: 150px;
    margin-right: 150px;
}

header, footer
{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align:center;
    color:rgb(99, 50, 13);
    line-height: normal;

}

main
{
    margin-left: 100px;
    margin-right: 100px;
}

h1,h2,h3
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px;
}

figure
{
    text-align:center;
}

figcaption
{
    font-style: italic;
}

ul
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
}

nav
{
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
}

a
{
    color:rgb(110, 110, 2);
    text-decoration: none;
}
a:hover
{
    color:rgb(99, 50, 13);
}

table 
{
    border: 1px solid black;
}

tr
{
    border: 1px solid black;
}

th
{
    border: 1px solid black;

}

td
{
    border: 1px solid black;
    text-align: center;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.complex
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

table tr:nth-child(even)
{
    background-color:wheat;
    color:rgb(99, 50, 13)
}

table tr:nth-child(odd)
{
    background-color:tan;
    color:rgb(99, 50, 13)
}

input[type=text]
{
    width: 40%;
    padding: 3px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    font:normal;
}

input[type=email]
{
    width: 40%;
    padding: 2px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    font:normal;
   
}

input[type=tel]
{
    width: 40%;
    padding: 2px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    
}

label
{
    padding: 6px 6px 6px 0px;
    display: inline-block;
}

form 
{
    display: table;
    background-color:#dedcf8;
    color: #03071e;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 2px solid black;
}

input[type="Submit"], input[type="Reset"]
{
    border-radius: 5px;
}

/*
Source:

1.https://www.w3schools.com/html/html_intro.asp

2.https://coolors.co

3.https://www.freecodecamp.org/learn/
*/

  
  
  
  
  
  

