/*
Source:

1.https://www.w3schools.com/html/html_intro.asp

2.https://coolors.co

3.https://www.freecodecamp.org/learn/
*/




body
{
    font-family: Arial;
    color:rgb(99, 50, 13);
    background-color:#FFAD99;
    margin-left: 150px;
    margin-right: 150px;
}

header, footer
{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align:center;
    color:rgb(99, 50, 13);
    line-height: normal;

}

main
{
    margin-left: 100px;
    margin-right: 100px;
}

h1,h2,h3
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px;
}

figure
{
    text-align:center;
}

figcaption
{
    font-style: italic;
}

ul
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
}

nav
{
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
}

a
{
    color:rgb(110, 110, 2);
    text-decoration: none;
}
a:hover
{
    color:rgb(99, 50, 13);
}

table 
{
    border: 1px solid black;
}

tr
{
    border: 1px solid black;
}

th
{
    border: 1px solid black;

}

td
{
    border: 1px solid black;
    text-align: center;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.complex
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

table tr:nth-child(even)
{
    background-color:wheat;
    color:rgb(99, 50, 13)
}

table tr:nth-child(odd)
{
    background-color:tan;
    color:rgb(99, 50, 13)
}

input[type=text]
{
    width: 40%;
    padding: 3px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    font:normal;
}

input[type=email]
{
    width: 40%;
    padding: 2px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    font:normal;
   
}

input[type=tel]
{
    width: 40%;
    padding: 2px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    
}

label
{
    padding: 6px 6px 6px 0px;
    display: inline-block;
}

form 
{
    display: table;
    background-color:#dedcf8;
    color: #03071e;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 2px solid black;
}

input[type="Submit"], input[type="Reset"]
{
    border-radius: 5px;
}

.calculator__keys
{
    display: grid;
    background-color: #999;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.calculator__keys > * 
{
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before 
{
	background-color: rgba(0, 0, 0, 0.2);
	bottom: 0;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
	content: "";
	left: 0;
	opacity: 0.3;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.key--operator 
{
	background-color: #eee;
}
  
.key--equal 
{
    background-image: linear-gradient(to bottom, pink, pink);
	grid-column: -2;
	grid-row: 2 / span 4;
}

p
{
	font-size: xx-large;
}

.calculator__display 
{
	background-color: grey;
	color: #fff;
	font-size: 5em;
	padding: 0.5em 0.75em;
	text-align: right;
}

.calculator
{
	border-radius: 12px;
	box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	max-width: 50em;
	overflow: hidden;
}
  
.container 
{
    max-width: 20em;
}
  
.container > p 
{
    text-align: center;
}
  
  
  
  

