/*
Source:

1.https://www.w3schools.com/html/html_intro.asp

2.https://coolors.co

3.https://www.freecodecamp.org/learn/
*/

body
{
    font-family: Arial;
    color:#6E646C;
    background-color:#FBEEEB;
    margin-left: 50px;
    margin-right: 50px;
}

header
{
    margin-top: 50px;
    text-align:center;
    color:#6E646C; 
}

footer
{
    margin-top: 10px;
    text-align:center;
    color:#6E646C; 
}

main
{
    margin-left: 50px;
    margin-right: 50px;
}

h2, h3, h1
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px;
    
}

h3 {font-size: 20px;}

figure
{
    text-align:center;
}

figcaption
{
    font-style: italic;
}

ul
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
}

nav
{
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
}

a
{
    color:rgb(110, 110, 2);
    text-decoration: none;
}
a:hover
{
    color:rgb(99, 50, 13);
}

table 
{
    border: 1px solid black;
}

tr
{
    border: 1px solid black;
}

th
{
    border: 1px solid black;

}

td
{
    border: 1px solid black;
    text-align: center;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.complex
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

table tr:nth-child(even)
{
    background-color:wheat;
    color:rgb(99, 50, 13)
}

table tr:nth-child(odd)
{
    background-color:tan;
    color:rgb(99, 50, 13)
}

input[type=text]
{
    width: 40%;
    padding: 3px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    font:normal;
}

input[type=email]
{
    width: 40%;
    padding: 2px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    font:normal;
   
}

input[type=tel]
{
    width: 40%;
    padding: 2px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    
}

label
{
    padding: 6px 6px 6px 0px;
    display: inline-block;
}

form 
{
    display: table;
    background-color:#dedcf8;
    color: #03071e;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 2px solid black;
}

input[type="Submit"], input[type="Reset"]
{
    border-radius: 5px;
}

.button
{
    color:#F0F0F0;
    background-color:#0B5151 ;
    border-radius: 5px;
    margin:auto;
    text-align: center;
}

#first
{
    text-align: center;
    display:grid;
}


.calculator__keys
{
    display: grid;
    background-color: #999;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.calculator__keys > * 
{
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before 
{
	background-color: rgba(0, 0, 0, 0.2);
	bottom: 0;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
	content: "";
	left: 0;
	opacity: 0.3;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.key--operator 
{
	background-color: #eee;
}
  
.key--equal 
{
    background-image: linear-gradient(to bottom, pink, pink);
	grid-column: -2;
	grid-row: 2 / span 4;
}

p
{
	font-size: 20px;
}

.calculator__display 
{
	background-color: grey;
	color: #fff;
	font-size: 5em;
	padding: 0.5em 0.75em;
	text-align: right;
}

.calculator
{
	border-radius: 12px;
	box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	max-width: 50em;
	overflow: hidden;
}
  
.container 
{
    max-width: 20em;
}
  
.container > p 
{
    text-align: center;
}

/* Image Swap for activity 10*/
.thumbnails
{
    width: 100px;
    height: 80px;
}

.slideshow
{
    display: inline;
    position:relative;
    margin:auto;
}

/*/*SlideShow for activity 9*/
.box
{
    max-width: 90%;
    /* The position of the element is set relative to its original position: */
    position: relative;
    /* Center horizontally*/
    margin-left: 400px;
    height: 300px;
}
/* The picture is scaled in relation to the parent element: */
.box .item img
{
    /* The element is resized to fill the block and maintain proportions: */
    object-fit:cover;
    width: 450px;
    height: 300px;
}
/* Back and forward buttons: */
.box .previous, .box .next
{
    /* Adds an icon to the cursor when it is over the button: */
    cursor: pointer;
    /* The position of the element is set relative to the borders of the browser: */
    position:absolute;
    top: 60%;
    margin-top: -22px;
    padding: 10px;
    /* Styling the buttons themselves: */
    color:white;
    font-weight: bold;
    font-size: 20px;
    /* Background fading on hover: */
    transition: 0.6s ease;
    /* Rounding the borders: */
    border-radius: 0px 3px 3px 0px;
}

.box .next
{
    right: 390px;
    border-radius: 3px 0 0 3px;
}
/* When you hover over the buttons, add the background of the buttons: */
.box .previous:hover, .box .next:hover
{
    background-color:rgba(0, 0, 0, 0.2);
}

/* Slide animation: */
.box .item
{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade
{
    /* Set and change the transparency: */
    from
    {
        opacity: 0.4;
    }
    to
    {
        opacity: 1;
    } 
}

.center1
{
    text-align: center;
}

  
  
  
  

