/*
Source:

1.https://www.w3schools.com/html/html_intro.asp

2.https://coolors.co

3.https://www.freecodecamp.org/learn/
*/

body
{
    font-family: Arial;
    color:#6E646C;
    background-color:#FBEEEB;
    margin-left: 50px;
    margin-right: 50px;
}
 



  
  
  

