/*
Source:

1.https://www.w3schools.com/html/html_intro.asp

2.https://coolors.co

3.https://www.freecodecamp.org/learn/
*/

body
{
    font-family: Arial;
    color:#6E646C;
    background-color:white;
    margin-left: 20px;
    margin-right: 20px;
}

header
{
    text-align: center;
} 

.logo
{
    width:200px;
    height: 200px;
    border-radius: 50%;
}

nav
{
    padding: 10px;
    background-color:bisque;
    font-size: 14px;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color:brown;
}

h1,h2
{
    text-align: center;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
}

.text1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding:15px;
    font-size: 22px;
}

.box
{
  position:relative;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  display:flex;
}

.box .content
{
    padding: 10px;
    font-size: 20px;
}

footer
{
    display:table;
    padding:10px;
}

form
{
    background-color: blanchedalmond;
    display:table;
    padding: 30px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

input[type=text]
{
    width: 40%;
    padding: 3px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    font:normal;
}

input[type=email]
{
    width: 40%;
    padding: 2px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    font:normal;
   
}

input[type=tel]
{
    width: 40%;
    padding: 2px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    
}

label
{
    padding: 6px 6px 6px 0px;
    display: inline-block;
    font-size: 14px;
}

button
{
    padding: 5px;
    border-radius: 10px;
    background-color:blanchedalmond;
}



  
  
  

