<footer>
    <hr>
        <p>
            <strong>LANTANA BOUTIQUE HOI AN HOTEL</strong><br>
            09 Thoai Ngoc Hau Street, Hoi An Ancient Town, Quang Nam <br>
            Phone: +84 235 396 3999 <br>
            Email: sales@lantanahoian.com <br>
        </p>
        <hr>
        <p>
            <strong>ABOUT US</strong><br>
            Location & Map <br>
            <a href="photo.html">Photo Gallery</a><br>
        </p>
        <hr>
        <p>
            <strong>BOOKING INFO</strong><br>
            <a href="room.html">Room & Rate</a><br>
            <a href="contactUs.html">Contact Us</a>
        </p>
</footer>