<footer>
        <hr>
        <div class="grid-footer">
            <div class="grid-footer-item">
                <strong>LANTANA BOUTIQUE HOI AN HOTEL</strong><br>
                09 Thoai Ngoc Hau Street, Hoi An Ancient Town, Quang Nam <br>
                Phone: +84 235 396 3999 <br>
                Email: sales@lantanahoian.com <br>
            </div>
            <div class="grid-footer-item">
                <strong>ABOUT US</strong><br>
                Location & Map <br>
                <a href="photo.html">Photo Gallery</a><br>
                <a href="https://validator.w3.org/check?uri=referer">Validate HTML</a>
            </div>
            <div class="grid-footer-item">
                <strong>BOOKING INFO</strong><br>
                <a href="#">Hotel Policy</a><br>
                <a href="contactUs.html">Contact Us</a><br>
                <a href="https://jigsaw.w3.org/css-validator/check/referer">Validate CSS</a>
            </div>
            <div class="grid-footer-item">
                <strong>QUICK LINK</strong><br>
                <a href="#">Promotion</a><br>
                <a href="#">Service</a>
            </div>
        </div>
</footer>
