<header>
    <div class="header">
        <div>
            <img class="logo" src="images/lantana/logo.png" alt="lanatana logo">
        </div>
        <div class="quote">
            <h3>"Enjoy Your Stay"</h3>
        </div>
    </div>
    <div>
        <div>
            <nav>
                <a href="./homepage.html">LANTANA</a>
                
                <a href="aboutUs.html">ABOUT US</a>
                
                <a href="room.html">ROOM & RATES</a>
                
                <a href="service.html">SERVICE</a>
                
                <a href="photo.html">PHOTO GALLERY</a>
                
                <a href="contactUs.html">CONTACT US</a>
            </nav>
        </div>
    </div>
</header>