<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/qnguye33/" target="_blank">Charlotte</a>
        ⁜
        <a href="https://github.com/WillNguyen106" target="_blank">Github</a>
        ⁜
        <a href="https://github.com/WillNguyen106/WillNguyen106.github.io" target="_blank">Github.io</a>
        ⁜
        <a href="https://github.com/WillNguyen106/WillNguyen106.github.io/tree/main/itis3135" target="_blank">ITIS 3135 Github Pages</a>
        ⁜
        <a href="https://www.codecademy.com/profiles/WillNguyenUNCC" target="_blank">Codecademy</a>
        ⁜
        <a href="https://www.freecodecamp.org/WillNguyen106" target="_blank">Freecodecamp</a>
        ⁜
        <a href="https://jsfiddle.net/user/WillNguyen106/fiddles/" target="_blank">JSFiddle</a>
        ⁜
        <a href="https://www.linkedin.com/in/will-nguyen-02a5ab223/" target="_blank">LinkedIn</a>
    </nav>
    <p>
      Created by <a href="nguyen.design/">Nguyen Designs LLC</a> &copy;2022 <br><br>
      <a id="validation_link_html" href=""><img src="../images/button_validation_html5.png" alt="HTML Validation Link" style="width: 88px; height: 31px;"/></a>
      <a id="validation_link_css" href=""><img src="../images/button_validation_css.png" alt="CSS Validation Link" style="width: 88px; height: 31px;"></a>
    </p>
    <script>
      document.getElementById('validation_link_css').setAttribute('href', 'https://jigsaw.w3.org/css-validator/check?uri=' + location.href);
      document.getElementById('validation_link_html').setAttribute('href', 'https://validator.w3.org/check?uri=' + location.href);
    </script>

</footer>