<footer>
    <br/>
    <nav>
        <a href="https://webpages.charlotte.edu/qnguye33/" target="_blank">Charlotte</a>
        ⁜
        <a href="https://github.com/WillNguyen106" target="_blank">Github</a>
        ⁜
        <a href="https://github.com/WillNguyen106/WillNguyen106.github.io" target="_blank">Github.io</a>
        ⁜
        <a href="https://github.com/WillNguyen106/WillNguyen106.github.io/tree/main/itis3135" target="_blank">ITIS 3135 Github Pages</a>
        ⁜
        <a href="https://www.codecademy.com/profiles/WillNguyenUNCC" target="_blank">Codecademy</a><br>
        ⁜
        <a href="https://www.freecodecamp.org/WillNguyen106" target="_blank">Freecodecamp</a>
        ⁜
        <a href="https://jsfiddle.net/user/WillNguyen106/fiddles/" target="_blank">JSFiddle</a>
        ⁜
        <a href="https://www.linkedin.com/in/will-nguyen-02a5ab223/" target="_blank">LinkedIn</a>
    </nav>
    <br />
    Created by <a href="nguyen.design/">Nguyen Designs LLC</a> &copy;2022
    <p>
        <a href = "https://jigsaw.w3.org/css-validator/check/referer" style = "text-decoration: none;">
            <img src = "images/button_validation_css.png" width = "88" height = "31" alt = "Link to css validator">
        </a>
        <a href = "https://validator.w3.org/check?uri=referer" style = "text-decoration: none;">
            <img src = "images/button_validation_html5.png" width = "88" height = "31" alt = "Link to html validator">
        </a>
    </p>

</footer>