<header>
    <h1>Will Nguyen 🐶 ITIS 3135 🐶 Walnut Brown Numbat </h1>
    <nav>
        <a href="./">Home</a>
        ❀
        <a href="introduction.html">Introduction</a>
        ❀
        <a href="contract.html">Contract</a>
        ❀
        <a href="table.html">Table</a>
        ❀
        <a href="form.html">Form</a>
        ❀
        <a href="brand.html">Brand</a>
        ❀
        <a href="website_evaluations.html">Website Evaluations</a>
        ❀
        <a href="firstscript.html">First Script</a>
        ❀
        <a href="polygon.html">Polygon</a>
        ❀
        <a href="calculator_try.html">CalculatorTry</a>
        ❀
        <a href="calculator.html">Calculator</a>
        ❀
        <a href="arrays.html">Arrays</a>
        ❀
        <a href="project/projectOverview.html">Project Design</a>
        ❀
        <a href="activity9.html">SlideShow</a>
        ❀
        <a href="activity10.html">Image Swap</a>
        ❀
        <a href="peerReview1.html">Peer Review 1</a>
        ❀
        <a href="peerReview2.html">Peer Review 2</a>
        <hr>
        <a href="project/index.html">Project</a>
        ❀
        <a href="hobby/index.html">Hobby</a>
        ❀
        <a href="activity11/nguyen-activity11.html">Activity11</a>
        ❀
        <a href="activity12/nguyen-activity12.html">Activity12</a>
        ❀
        <a href="activity13/nguyen-activity13.html">Activity13</a>
        ❀
        <a href="activity14/nguyen-activity14.html">Activity14</a>
        ❀
        <a href="activity15/nguyen-activity15.html">Activity15</a>
        <hr>


    </nav>
</header>