<header>
    <h1>Will Nguyen 🐶 ITIS 3135 🐶 Walnut Brown Numbat </h1>
    <nav>
        <a href="./">Home</a>
        ❀
        <a href="introduction.html">Introduction</a>
        ❀
        <a href="contract.html">Contract</a>
        ❀
        <a href="table.html" >Table</a>
        ❀
        <a href="form.html">Form</a>
        ❀
        <a href="brand.html">Brand</a>
        ❀
        <a href="website_evaluations.html">Website Evaluations</a>
        ❀
        <a href="firstscript.html">First Script</a>
        ❀
        <a href="polygon.html">Polygon</a>
        ❀
        <a href="calculator_try.html">Calculator_try</a>
        ❀
        <a href="calculator.html">Calculator</a>
        ❀
        <a href="arrays.html">Arrays</a>
    </nav>
</header>